<table class="table">
  <tr>
    <th>#</th>
    <th>Forum Text</th>
    <th>View Forum</th>
    <th>Date Time</th>
  </tr>
  <% @forems.each_with_index do |forem, i| %>
    <tr style ="">
      <td><%=  i+1 %></td>
      <td><%= forem.text.html_safe %> </td>
      <td><%= link_to "view forum", forem_path(forem.id)%> </td>
      <td><%=forem.created_at.strftime("%d %b. %Y %H:%M") %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Home", root_path %>