<p>
  <strong><%= @forem.text.html_safe %> </strong>
</p>
<p>
  <%= image_tag @forem.image.url(:medium) %>
</p>
<em>
  <%= @forem.created_at.strftime("%d %b. %Y %H:%M") %>
</em>
<div>
  <h3>Comments</h3>
  <% @forem.comments.each do |comment| %>
  <b><%= comment.comment.html_safe %> </b>
  <em><%= comment.created_at.strftime("%d %b. %Y %H:%M") %></em>
  <% end %>
</div>



<%= render "comments/form" %>
<%= link_to "Back", forems_path %> |
<%= link_to "Home", root_path %>